body,
html {
  background-color: #d3d3d3;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.inputText {
  position: relative;
  margin-left: auto;
  width: 60%;
}

.submitButton {
  margin-right: auto;
  height: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d3d3d3;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  margin: auto;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.ball {
  vertical-align: middle;
  margin: auto;
}
